venv
images_output
**/venv
# png files
*.png
# jpg files
**/*.jpg
# jpeg files
*.jpeg
# gif files
*.gif
# png in subdirectories
**/*.png
# jpg in subdirectories
**/*.jpg

# temp python files
*.pyc
*.pyo

# project temp files
_temp.py
main.py
**/*main.py