venv
images_output
**/venv
# png files
*.png
# jpg files
**/*.jpg
# jpeg files
*.jpeg
# gif files
*.gif
# png in subdirectories
**/*.png

# temp python files
*.pyc
*.pyo

# project temp files
_temp.py